
<div class="main-container">
    <div class="intro-form">
        <form method="GET" action="/artist-search"> {{!-- IMPORTANT Cause we are getting information --}}
           
            <label>
                <input type="text" name="artistName" size=40>  
                {{!-- NAME to use at APP --}}
            </label><br/>
            <button type="submit">Search for an Artist</button>

        </form>
    </div>
</div>